body{
	background: #E5E5E5;
}

li {
	text-emphasis: none;
}

.sec-color{
	color: #1DD3B0;
}

.sec-background{
	background-color: #1DD3B0;
}

/*Countdown Timer*/
.popover{
	background-color: #1DD3B0;
}
.counter
{
	
    background-color: #011013;
    text-align: center;
}
.months,.days,.hours,.minutes
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter-count
{
    font-size: 18px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.months-p,.days-p,.minutes-p,.hours-p
{
    font-size: 14px;
    color: #000000;
    line-height: 34px;
}





